### Bayes Theroem #Titanic

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C:\\Users\\dhruv\\Downloads\\titanic.csv")
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Embarked','Cabin'],axis=1,inplace=True)

In [4]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [5]:
target=df.Survived #dependent or labels
inputs=df.drop(['Survived'],axis=1)    #features

#### convert male and Female into int for proper outcome

In [6]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head()

   female   male
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True

In [7]:
inputs=pd.concat([inputs,dummies],axis=1)
inputs.head()

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False
3       1  female  35.0  53.1000    True  False
4       3    male  35.0   8.0500   False   True

In [8]:
inputs.drop(['Sex'],axis=1,inplace=True)
inputs.head()

   Pclass   Age     Fare  female   male
0       3  22.0   7.2500   False   True
1       1  38.0  71.2833    True  False
2       3  26.0   7.9250    True  False
3       1  35.0  53.1000    True  False
4       3  35.0   8.0500   False   True

#### filling mixing value

In [9]:
inputs.columns[inputs.isna().any()]
inputs.Age[:10]   #for print only specific age column

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [10]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.Age[:10]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

### Applying alg and fitting

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(inputs,target,test_size=0.2)

In [20]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train,y_train)

### Score and PRedict

In [21]:
model.score(X_test, y_test)*100  #testing

81.56424581005587

In [22]:
y_pred =model.predict(X_test[:10])

In [23]:
model.predict_proba(X_test[:10])

array([[9.00312362e-01, 9.96876382e-02],
       [1.40760463e-06, 9.99998592e-01],
       [7.55640540e-02, 9.24435946e-01],
       [2.56849625e-04, 9.99743150e-01],
       [8.10171482e-06, 9.99991898e-01],
       [9.05796769e-01, 9.42032305e-02],
       [7.50526039e-02, 9.24947396e-01],
       [9.88942885e-01, 1.10571154e-02],
       [8.97603062e-01, 1.02396938e-01],
       [3.24180104e-02, 9.67581990e-01]])

In [24]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

ValueError: Found input variables with inconsistent numbers of samples: [179, 10]

In [25]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

ValueError: Found input variables with inconsistent numbers of samples: [179, 10]